<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691778990314-i9u89scb3ifnb0c1sad9mm96og9jsl60.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691778990314-i9u89scb3ifnb0c1sad9mm96og9jsl60</string>
	<key>API_KEY</key>
	<string>AIzaSyC6ptK-tfADqgPDj_XNDAhG7Lq6LTKgMJk</string>
	<key>GCM_SENDER_ID</key>
	<string>691778990314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.burntoast.crust</string>
	<key>PROJECT_ID</key>
	<string>burntoast</string>
	<key>STORAGE_BUCKET</key>
	<string>burntoast.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691778990314:ios:4ef009443bd3541ba5a793</string>
	<key>DATABASE_URL</key>
	<string>https://burntoast.firebaseio.com</string>
</dict>
</plist>